.content {
    display: flex;
    padding: 30px; /* Espacement intérieur */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 10px rgba(26, 125, 67, 0.4); /* Ombre légère */
    border: 2px solid #f0f4f2; /* Bordure solide verte */
    color: #120101; /* Couleur du texte */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

.home {
    margin-right: 40px;
    width: 45vw;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Styles de base pour les boutons */
.buttonGreen, .buttonPurple {
    font-size: 2rem;
    width: 100%;
    padding: 15px; /* Ajouter un espacement intérieur pour le texte */
    text-align: center;
    border-radius: 7px;
    color: #a23170;
    display: inline-block;
    margin: 10px 0; /* Ajouter une marge verticale entre les boutons */
    text-decoration: none; /* Supprime la décoration du texte */
    background-color: rgba(26, 125, 67, 0.7); /* Couleur de fond verte transparente */
    border: 2px solid rgba(49, 119, 23, 0.7); /* Bordure verte transparente */
    box-shadow: 0 4px 8px rgba(26, 125, 67, 0.4); /* Ombre verte */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transition pour les effets */
  }
  
  .buttonGreen:hover, .buttonPurple:hover {
    background-color: rgba(26, 125, 67, 0.9); /* Couleur de fond verte au survol */
    box-shadow: 0 8px 16px rgba(26, 125, 67, 0.6); /* Ombre plus forte au survol */
  }
  
  .buttonPurple {
    background-color: rgba(148, 40, 97, 0.7); /* Couleur de fond violette transparente */
    border: 2px solid rgba(80, 13, 60, 0.7); /* Bordure violette transparente */
    color: #317717;
    box-shadow: 0 4px 8px rgba(148, 40, 97, 0.4); /* Ombre violette */
  }
  
  .buttonPurple:hover {
    background-color: rgba(148, 40, 97, 0.9); /* Couleur de fond violette au survol */
    box-shadow: 0 8px 16px rgba(148, 40, 97, 0.6); /* Ombre plus forte au survol */
  }
  
  
  
@media (max-width: 500px) {
    .content{
        flex-direction: column-reverse;
    }

    .home{
        width: 100vw;
        padding: 0 20px;
    }
}