.content {
    display: flex;
}

.home {
    width: 45vw;
}

.button {
    background-color: #317717 !important;
    border-color: #317717 !important;
}

@media (max-width: 500px) {
    .content{
        flex-direction: column-reverse;
    }

    .home{
        width: 100vw;
        padding: 0 20px;
    }
}