/* Styles for the main content container */
.content {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(26, 125, 67, 0.4);
    border: 10px solid #f0f4f2;
    color: #120101;
    margin-left: 20px;
    margin-right: 20px;
}

/* Container for the home page */
.home {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.dataTable {
    width: 100%;
    overflow: hidden;
    background-color: rgb(251, 253, 251);
    border-collapse: collapse;
    overflow: scroll;
    scrollbar-color: red orange;
    scrollbar-width: thin;
    display: inline-block;
}

.tableHeader {
    width: 12%;
    font-weight: bold;
    font-size: 18px;
    color: rgb(15, 15, 16);
    padding: 10px;
    border: 2px solid rgb(4, 4, 4);
    text-align: left;
    background-color: rgb(196, 227, 196);

}

.tableRow:hover {
    background-color: #f2f1f4;
}

.tableRow {
    color: rgb(4, 4, 4);
    font-size: 15px;
}

.tableCell {
    border: 1px solid rgb(22, 22, 23);
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    border-color: 1px solid hsl(0, 70%, 44%);
    border-radius: 7px;
    /* Border radius of 7px */
    color: #322323;
    /* Text color */
    font-size: 1.5rem;
    /* Font size */
    font-weight: bold;
    /* Bold font weight */
    background-color: hsl(150, 53%, 87%);
    /* Light green background color */
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    /* Transition effects */
    cursor: pointer;
    /* Pointer cursor */
    box-shadow: 0 4px 10px rgb(196, 227, 196);
    flex: 1;
    /* Utiliser flexbox pour répartir l'espace */
    max-width: 150px;
    /* Largeur maximale du bouton */
}

.button:hover {
    background-color: #f0d9e6;
    /* Change background color on hover */
    transform: translateY(-2px);
    /* Move button down slightly on hover */
    box-shadow: 0 6px 15px rgba(30, 147, 78, 0.6);
    /* More pronounced shadow on hover */
}

/* Active effect */
.button:active {
    background-color: #1a7d43;
    /* Change background color on active state */
    transform: translateY(0);
    /* Reset transform */
    box-shadow: 0 4px 10px rgba(26, 125, 67, 0.4);
    /* Light shadow on active state */
}

.search {
    width: 80%;
    margin: 80px auto; /* Margin top and bottom set to 40px, left and right set to auto to center */
    border-radius: 80px;
    padding: 25px;
    border: 2px solid #b5b8b6;
    color: rgb(133, 130, 137);
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-size: 22px;
    box-shadow: 4px 4px 10px rgba(59, 57, 57, 0.897);
    outline: none;
    display: block; /* Ensure the element is a block-level element */
    
}

.search:focus {
    
    box-shadow: 4px 4px 10px rgba(196, 2, 154, 0.815);
    padding: 15px;
    transform: scale(1.1);
    outline: none;
    border-color: #983a72;
    background-color: #fbf7fa;
    color: #7b054c;
}

.select-completed {
    border-color: #11e345;
    box-shadow: 4px 4px 10px rgba(2, 196, 70, 0.815);
}

.selectMsg {
    color: rgb(21, 238, 64);
    margin-left: 150px;
    margin-bottom: 15px;
    font-weight: bold;
}



.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Styles for entries-label to align it on a single line */
.entrieslabel {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    gap: 40px;
    white-space: nowrap;
    margin: 50px auto; /* Center the entire block with auto margin */
    font-size: 22px;
}

.entrieslabel h3 {
    margin: 0;
}

.entrieslabel select {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(59, 57, 57, 0.897);
    border: 2px solid #b5b8b6;
}

/* Ensure .controls uses Flexbox */


/* Basic button styles */
.buttonGreen {
    font-size: 2rem;
    /* Font size */
    width: 100%;
    /* Full width */
    padding: 15px;
    /* Inner padding */
    text-align: center;
    /* Center text */
    border-radius: 7px;
    /* Rounded corners */
    color: #a23170;
    /* Text color */
    display: inline-block;
    /* Display as inline block */
    margin: 10px 0;
    /* Margin */
    text-decoration: none;
    /* No text decoration */
    background-color: rgba(201, 234, 215, 0.7);
    /* Transparent green background */
    border: 2px solid rgba(49, 119, 23, 0.7);
    /* Transparent green border */
    box-shadow: 0 4px 8px rgba(26, 125, 67, 0.4);
    /* Light green shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* Transition effect */
}

.buttonPurple:hover {
    background-color: rgba(201, 234, 215, 0.7);
    /* Transparent green background on hover */
    box-shadow: 0 8px 16px rgba(26, 125, 67, 0.4);
    /* Stronger shadow on hover */
}

.buttonPurple {
    font-size: 2rem;
    /* Font size */
    width: 100%;
    /* Full width */
    padding: 15px;
    /* Inner padding */
    text-align: center;
    /* Center text */
    border-radius: 7px;
    /* Rounded corners */
    display: inline-block;
    /* Display as inline block */
    margin: 10px 0;
    /* Margin */
    text-decoration: none;
    /* No text decoration */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* Transition effect */
    background-color: rgb(239 134 190 / 90%);
    /* Transparent purple background */
    border: 2px solid rgba(80, 13, 60, 0.7);
    /* Transparent purple border */
    color: #317717;
    /* Text color */
    box-shadow: 0 4px 8px rgba(148, 40, 97, 0.6);
    /* Light purple shadow */
}

.buttonGreen:hover {
    background-color: rgb(239 134 190 / 90%);
    /* Transparent purple background on hover */
    box-shadow: 0 8px 16px rgba(148, 40, 97, 0.6);
    /* Stronger shadow on hover */
}

.pageInfo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f4f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calloutList{
margin-bottom: 100px;
margin-top: 100px;
}