/* List.module.css */

.home {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search {
    padding: 10px;
    margin-left: 10px;
}

.dataTable {
    width: 100%;
    
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(251, 253, 251);
    border-collapse: collapse; /* Pour permettre les bordures internes */
}

.tableHeader {
    font-weight: bold;
    font-size: 15px;
    color: rgb(15, 15, 16);
    padding: 10px;
    border: 1px solid rgb(224, 224, 239); /* Bordure bleue pour les en-têtes */
    text-align: left;
}

.tableRow:hover {
    background-color: #f2f1f4; /* Highlight on hover */
}

.tableRow {
    color: rgb(4, 4, 4);
    font-size: 15px;
}

.tableCell {
    border: 1px solid rgb(224, 224, 239);/* Bordure pour les cellules */
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.homeLink {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}
