/* Base button styles */
.button {
  display: inline-block; /* Display as inline block */
  margin-top: 60px; /* Top margin of 20px */
  padding: 15px 30px; /* Padding of 15px top and bottom, 30px left and right */
  border-radius: 7px; /* Border radius of 7px */
  color: #322323; /* Text color */
  font-size: 1.5rem; /* Font size */
  font-weight: bold; /* Bold font weight */
  background-color: hsl(150, 53%, 87%); /* Light green background color */
  border: none; /* Remove border */
  text-decoration: none; /* Remove underline */
  text-align: center; /* Center align text */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transition effects */
  cursor: pointer; /* Pointer cursor */
  box-shadow: 0 4px 10px rgba(33, 162, 95, 0.4); /* Light green shadow */
}

/* Hover effect */
.button:hover {
  background-color: #f0d9e6; /* Change background color on hover */
  transform: translateY(-2px); /* Move button down slightly on hover */
  box-shadow: 0 6px 15px rgba(30, 147, 78, 0.6); /* More pronounced shadow on hover */
}

/* Active effect */
.button:active {
  background-color: #1a7d43; /* Change background color on active state */
  transform: translateY(0); /* Reset transform */
  box-shadow: 0 4px 10px rgba(26, 125, 67, 0.4); /* Light shadow on active state */
}
