.callout {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px; /* Smoother corners */
    background-color: #f9f9f9;
    position: relative;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition effects */
}

.callout:hover {
    transform: scale(1.02); /* Slight zoom on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.erreur404 {
    border-color: #862411;
    background-color: #ed3d3d;
    border-radius: 25px;
    color: #0f0e0e; /* Text color matching the border */
}

.success {
    border-color: #2ce657;
    background-color: #a6feba;
    color: #0c0c0c; /* Text color matching the border */
    border-radius: 25px;
}

.info {
    border-color: #81c4d4;
    background-color: #d1ecf1;
    color: #090a0a; /* Text color matching the border */
    border-radius: 25px;
}

.about {
    border-color: #f6faf8;
    background-color: #fbd2e6;
    color: #141413; /* Text color matching the border */
    border-radius: 25px;
}

.title {
    margin-top: 0;
    font-size: 20px; /* Increased font size for better readability */
    font-weight: bold;
}

.content {
    margin-top: 10px;
    font-size: 16px; /* Slightly larger font size for content */
}
