.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5edf2;
  padding-bottom: 20px;
  /* Espacement intérieur */
  border-radius: 5px;
  /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(26, 125, 67, 0.4);
  /* Ombre légère */
  border: 4px solid #f0f4f2;
  /* Bordure solide verte */
  color: #120101;
  /* Couleur du texte */
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.footer img {
  height: 40px;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px; /* Réduire l'espacement intérieur */
    margin: 10px; /* Réduire les marges */
  }
}