.footer {
  background-color: #000000;

  padding: 50px;


}

.footer img {
  height: 40px;
}

.footer p {
  padding-left: 40px;
}

.text {
  background-color: #fdfafc;
  color: #08000c;
  padding: 10px;

}

.li {
  list-style: disc;
  margin-left: 26px;
  padding: 15px;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: white;
}