.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin: 0;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header img {
  height: 95px;
}

@media (max-width: 500px) {
  .header img {
    height: 47px;
  }
}