/* Styles pour placeholder */
.input::placeholder {
    color: #ccc;
    font-weight: normal;
    font-size: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.groupInput {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-color: rgb(180, 239, 214);
}

.input {
    width: 100%;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    height: 30px;
    border-radius: 40px;
    padding: 25px;
    border: 2px solid #c0c5c1; /* Bordure grise initiale */
    color: rgb(6, 1, 17); /* Couleur des lettres initiale */
    font-weight: bold; /* Texte gras */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Ajout de la transition */
    font-size: 28px; /* Taille du texte par défaut */
}

.input:focus {
    padding: 25px;
    transform: scale(1.1); /* Agrandissement lors de la saisie */
    outline: none; /* Supprime le contour par défaut */
    border-color: #983a72; /* Bordure violette au focus */
    background-color: #fbf7fa; /* Arrière-plan bleu clair */
    color: #7b054c; /* Texte violet au focus */
}

.error {
    border: 4px solid rgb(236, 30, 30) !important;
}

.errorMsg {
    color: rgb(238, 21, 21);
    margin-left: 150px;
    margin-bottom: 15px;
    font-weight: bold;
}

.label {
    white-space: nowrap;
    width: 210px;
    font-weight: bold;
    font-size: 20px; /* Taille du texte par défaut */
}

/* Styles spécifiques pour les inputs de date */
.input[type="date"] {
    border-color: #d7d2d5; 
    color:#e8e5e7;
    font-size: 20px;
}

.input-completed {
    border-color: #11e345; 
}