body {
  margin: 0;
}

.layout {
  margin: 0 auto;
  font-family: 'Exo';
  flex-direction: column;
  display: flex;
}

.layout main {
  padding: 0;
  margin-bottom: 80px;
}

@media (max-width: 500px) {
  .layout main {
    margin: 10px auto;
  }
}