/* Style de la barre de navigation */
.navigation {
  margin: 15px; /* Marge de 15 pixels autour de l'élément */
}

/* Style de la liste non ordonnée à l'intérieur de la barre de navigation */
.navigation ul {
  list-style: none; /* Supprime les puces de liste */
  padding: 0; /* Supprime le rembourrage intérieur */
  margin: 0; /* Supprime les marges extérieures */
  display: flex; /* Utilise la mise en page Flexbox */
  gap: 57px; /* Espace de 57 pixels entre les éléments de la liste */
}

/* Style des liens à l'intérieur de la barre de navigation */
.navigation a {
  font-size: 24px; /* Taille de police de 24 pixels */
  color: #317717; /* Couleur du texte en rouge (#FF6060) */
  line-height: 34.22px; /* Hauteur de ligne de 34.22 pixels */
  text-decoration: none; /* Supprime la décoration des liens */
  font-weight: bold;
  position: relative;
}

/* Style pour les éléments de liste à l'intérieur de la classe "navigation" */
.navigation ul li {
  display: inline; /* Affiche les éléments de liste en ligne (côte à côte) */
  white-space: nowrap; /* Empêche le renvoi à la ligne des éléments longs */
}

/* Style pour les liens actifs (soulignés) */
.navigation .activeLink {
  text-decoration: underline; /* Souligne les liens actifs */
}

.navigation a:hover .papillon {
  opacity: 1;
  transition: 2s ease;
}

.navigation .papillon {
  display: block;
  position: absolute;
  top: -25px;
  left: -60px;
  opacity: 0;
  width: 50px;
  height: 35px;
}

/* Change la taille de la police pour les écrans étroits */
@media (max-width: 500px) {
  .navigation ul {
    gap: 20px; /* Réduit l'espace entre les éléments de la liste à 20 pixels */
  }

  .navigation a {
    font-size: 12px; /* Réduit la taille de la police à 12 pixels */
    text-transform: uppercase; /* Met le texte en majuscules */
  }
}
