/* Style for the unordered list inside the navigation bar */
.navigation ul {
  list-style: none; /* Remove list bullets */
  padding: 0; /* Remove inner padding */
  display: flex; /* Use Flexbox layout */
  gap: 20px; /* Space between list items */
}

/* Style for list items inside the "navigation" class */
.navigation ul li {
  display: flex; /* Display list items in block inline (side by side) */
  padding: 2px; /* Inner spacing for list items */
  flex: 1; /* Items take equal width */
  min-width: 15px; /* Minimum width for list items */
}

/* Style for links inside the navigation bar */
.navigation a {
  display: flex; /* Display links as block */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  font-size: 18px; /* Font size for links */
  color: #21a25f; /* Text color */
  text-decoration: none; /* Remove link decoration */
  font-weight: bold; /* Bold font weight */
  position: relative; /* Relative positioning */
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Transition animation */
  padding: 10px 20px; /* Padding to look like buttons */
  border-radius: 5px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.7); /* Background color of links */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Link shadow */
  width: 80%; /* Take full width of parent element */
  text-align: center; /* Center text */
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Style for links on hover */
.navigation a:hover {
  color: #942861; /* Text color on hover */
  background-color: rgba(255, 255, 255, 0.9); /* Background color on hover */
  box-shadow: 0 4px 10px rgba(134, 226, 141, 0.5); /* Stronger shadow on hover */
}

/* Style for active links (underlined) */
.navigation .activeLink {
  color: #21a25f; /* Green text color for active links */
  text-decoration: underline; /* Underline active link text */
  border-bottom: 2px solid #ff8080; /* Underline active links */
  background-color: rgba(255, 255, 255, 0.9); /* Background color for active links */
  box-shadow: 0 4px 10px rgba(255, 100, 100, 0.5); /* Shadow for active links */
}

/* Style for the butterfly image */
.navigation .papillon {
  display: flex; /* Display as flex */
  position: absolute; /* Absolute positioning */
  top: -15px; /* Position from top */
  left: -85px; /* Position from left */
  opacity: 0; /* Initially hidden */
  width: 35px; /* Image width */
  height: 20px; /* Image height */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition animation for opacity and transform */
  border: none; /* No border */
  box-shadow: none; /* No shadow */
  border-radius: 0; /* No border radius */
  background: none; /* No background */
  outline: none; /* No outline */
}

.navigation a:hover .papillon {
  opacity: 1; /* Show butterfly image on hover */
  transform: scale(1.5); /* Scale up the image */
  box-shadow: none; /* No shadow */
}
