.group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.groupInput{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}


.select {
    width: 100%;
    margin-left: 20px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

.error {
    border-color: brown;
}

.errorMsg {
    color: brown;
    margin-left: 150px;
}

.label {
    width: 150px;
    font-weight: bold;
}