.group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.groupInput{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    border-color: rgb(180, 239, 214);
}


.select {
    width: 100%;
    margin-left: 20px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #7bd8ad; /* Bordure bleue */
    color: rgb(21, 21, 20); /* Couleur des lettres orange */
    transition: transform 0.3s ease; /* Ajout de la transition */

}

.error {
    border-color: rgb(233, 120, 120);
}

.errorMsg {
    color: rgb(243, 78, 78);
    margin-left: 150px;
}

.label {
    width: 150px;
    font-weight: bold;
}